
/* ==============================================================================
 * Menu Styles
 * =========================================================================== */

/* Settings
-------------------------------------------------- */

$background:                $grayWash;

$link:                      $blue;
$linkBackground:            transparent;
$linkHover:                 $red;
$linkHoverBackground:       $white;

/* Background
-------------------------------------------------- */

#adminmenuback,
#adminmenuwrap {
  background-color: $background !important;
}

/* Top Level Links
-------------------------------------------------- */

#adminmenu div.wp-menu-name {
  padding: 8px 5px !important;
}

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div {
  background: $gray;
}

// Hover
#adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus {
  background-color: $linkHoverBackground;
  color: $linkHover;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#adminmenu .wp-submenu .wp-submenu-head {
  background-color: $linkHoverBackground;
  color: #333;
}

/* Arrows
-------------------------------------------------- */

#adminmenu .wp-menu-arrow {
  // display: none !important;
  background: transparent !important;
  // height: 36px !important;

  div {
    background: $gray;
    @include transform(matrix(1, 1.3, -0.7, .8, -1, 1));
    height: 20px !important;
  }
}

// Arrow on inactive hover
#adminmenu li.wp-not-current-submenu .wp-menu-arrow {
  display: none !important;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background: $linkHoverBackground;

  div {
    background: $linkHoverBackground;
  }
}

/* Submenu
-------------------------------------------------- */

// Flyout Menu
#adminmenu .wp-submenu {
  left: 145px;

  a:hover,
  a:focus {
    color: $red;
    background-color: $greenLightest !important;
  }
}

#adminmenu .wp-has-current-submenu .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu {
  left: auto !important;
}
