
/* ==============================================================================
 * 404 Page
 * =========================================================================== */

body.error404 {
  background-image: url(../images/animated/stars.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;

  h1 {
    color: $aquaLightest;
    margin-top: $baseLineHeight * 4;
    text-align: center;
    text-shadow: 0 0 10px black;
  }
}
